<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.ruicaijing.bestNews</key>
		<string>adhoc</string>
	</dict>
	<key>signingCertificate</key>
	<string>8D12CEDAF480793A5C02893C4FB35B45624E1DFB</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>R6A6PP7495</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
